In [1]:
import pandas as pd

df = pd.read_csv('USA_cars_datasets.csv')

print(df.head())

   Unnamed: 0  price      brand    model  year   title_status   mileage  \
0           0   6300     toyota  cruiser  2008  clean vehicle  274117.0
1           1   2899       ford       se  2011  clean vehicle  190552.0
2           2   5350      dodge      mpv  2018  clean vehicle   39590.0
3           3  25000       ford     door  2014  clean vehicle   64146.0
4           4  27700  chevrolet     1500  2018  clean vehicle    6654.0

    color                  vin        lot       state country      condition
0   black    jtezu11f88k007763  159348797  new jersey     usa   10 days left
1  silver    2fmdk3gc4bbb02217  166951262   tennessee     usa    6 days left
2  silver    3c4pdcgg5jt346413  167655728     georgia     usa    2 days left
3    blue    1ftfw1et4efc23745  167753855    virginia     usa  22 hours left
4     red    3gcpcrec2jg473991  167763266     florida     usa  22 hours left

In [12]:

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in df.select_dtypes(include=['object']).columns:
    df[col] = le.fit_transform(df[col])

# le=LabelEncoder()
# df['brand']=le.fit_transform(df['brand'])

print("\nAfter Label Encoding:")
print(df.head())

After Label Encoding:
   Unnamed: 0  price  brand  model  year  title_status   mileage  color   vin  \
0           0   6300     27     25  2008             0  274117.0      2  2392
1           1   2899      8     92  2011             0  190552.0     39  1665
2           2   5350      7     75  2018             0   39590.0     39  1885
3           3  25000      8     32  2014             0   64146.0      4   967
4           4  27700      5      0  2018             0    6654.0     34  2087

         lot  state  country  condition
0  159348797     24        1          3
1  166951262     35        1         39
2  167655728      7        1         16
3  167753855     39        1         20
4  167763266      6        1         20

In [8]:
import pandas as pd

df = pd.read_csv("USA_cars_datasets.csv")


df_encoded = pd.get_dummies(df,columns=['brand'])

print("After One Hot Encoding")
print(df_encoded.head(5))

After One Hot Encoding
   Unnamed: 0  price    model  year   title_status   mileage   color  \
0           0   6300  cruiser  2008  clean vehicle  274117.0   black
1           1   2899       se  2011  clean vehicle  190552.0  silver
2           2   5350      mpv  2018  clean vehicle   39590.0  silver
3           3  25000     door  2014  clean vehicle   64146.0    blue
4           4  27700     1500  2018  clean vehicle    6654.0     red

                   vin        lot       state  ... brand_land brand_lexus  \
0    jtezu11f88k007763  159348797  new jersey  ...      False       False
1    2fmdk3gc4bbb02217  166951262   tennessee  ...      False       False
2    3c4pdcgg5jt346413  167655728     georgia  ...      False       False
3    1ftfw1et4efc23745  167753855    virginia  ...      False       False
4    3gcpcrec2jg473991  167763266     florida  ...      False       False

   brand_lincoln  brand_maserati  brand_mazda  brand_mercedes-benz  \
0          False           False        False                False
1          False           False        False                False
2          False           False        False                False
3          False           False        False                False
4          False           False        False                False

   brand_nissan  brand_peterbilt  brand_ram  brand_toyota
0         False            False      False          True
1         False            False      False         False
2         False            False      False         False
3         False            False      False         False
4         False            False      False         False

[5 rows x 40 columns]

In [14]:
# MINMAX SCALER



import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv("USA_cars_datasets.csv")
print("Original Data:\n", df.head())

scaler = MinMaxScaler()
numeric_df = df.select_dtypes(include=['int64', 'float64'])
scaled_data = scaler.fit_transform(numeric_df)

scaled_df = pd.DataFrame(scaled_data, columns=numeric_df.columns)
print("\nScaled Data (0-1):\n", scaled_df.head())

final_df = pd.concat([df.select_dtypes(exclude=['int64', 'float64']), scaled_df], axis=1)
final_df.to_csv("USA_cars_scaled.csv", index=False)
print("\n✅ Scaled dataset saved as 'USA_cars_scaled.csv'")

Original Data:
    Unnamed: 0  price      brand    model  year   title_status   mileage  \
0           0   6300     toyota  cruiser  2008  clean vehicle  274117.0
1           1   2899       ford       se  2011  clean vehicle  190552.0
2           2   5350      dodge      mpv  2018  clean vehicle   39590.0
3           3  25000       ford     door  2014  clean vehicle   64146.0
4           4  27700  chevrolet     1500  2018  clean vehicle    6654.0

    color                  vin        lot       state country      condition
0   black    jtezu11f88k007763  159348797  new jersey     usa   10 days left
1  silver    2fmdk3gc4bbb02217  166951262   tennessee     usa    6 days left
2  silver    3c4pdcgg5jt346413  167655728     georgia     usa    2 days left
3    blue    1ftfw1et4efc23745  167753855    virginia     usa  22 hours left
4     red    3gcpcrec2jg473991  167763266     florida     usa  22 hours left

Scaled Data (0-1):
    Unnamed: 0     price      year   mileage       lot
0    0.000000  0.074205  0.744681  0.269287  0.000000
1    0.000400  0.034146  0.808511  0.187194  0.898987
2    0.000801  0.063015  0.957447  0.038892  0.982290
3    0.001201  0.294464  0.872340  0.063016  0.993893
4    0.001601  0.326266  0.957447  0.006537  0.995006

✅ Scaled dataset saved as 'USA_cars_scaled.csv'

In [1]:
# Standard Scaler


import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.read_csv("USA_cars_datasets.csv")
print("Original Data:\n", df.head())

scaler = StandardScaler()
numeric_df = df.select_dtypes(include=['int64', 'float64'])
scaled_data = scaler.fit_transform(numeric_df)

scaled_df = pd.DataFrame(scaled_data, columns=numeric_df.columns)
print("\nStandard Scaled Data:\n", scaled_df.head())

final_df = pd.concat([df.select_dtypes(exclude=['int64', 'float64']), scaled_df], axis=1)
final_df.to_csv("USA_cars_scaled.csv", index=False)
print("\n✅ Scaled dataset saved as 'USA_cars_scaled.csv'")

Original Data:
    Unnamed: 0  price      brand    model  year   title_status   mileage  \
0           0   6300     toyota  cruiser  2008  clean vehicle  274117.0
1           1   2899       ford       se  2011  clean vehicle  190552.0
2           2   5350      dodge      mpv  2018  clean vehicle   39590.0
3           3  25000       ford     door  2014  clean vehicle   64146.0
4           4  27700  chevrolet     1500  2018  clean vehicle    6654.0

    color                  vin        lot       state country      condition
0   black    jtezu11f88k007763  159348797  new jersey     usa   10 days left
1  silver    2fmdk3gc4bbb02217  166951262   tennessee     usa    6 days left
2  silver    3c4pdcgg5jt346413  167655728     georgia     usa    2 days left
3    blue    1ftfw1et4efc23745  167753855    virginia     usa  22 hours left
4     red    3gcpcrec2jg473991  167763266     florida     usa  22 hours left

Standard Scaled Data:
    Unnamed: 0     price      year   mileage        lot
0   -1.731358 -1.029223 -2.531775  3.715950 -40.927879
1   -1.729972 -1.309980 -1.660180  2.316050  -3.630985
2   -1.728585 -1.107647  0.373541 -0.212899  -0.174949
3   -1.727199  0.514487 -0.788586  0.198469   0.306451
4   -1.725813  0.737376  0.373541 -0.764650   0.352621

✅ Scaled dataset saved as 'USA_cars_scaled.csv'

In [5]:
# Standard Scaler


import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.read_csv("USA_cars_datasets.csv")


numeric_df = df.select_dtypes(include=['number'])
scaler = StandardScaler()
scaled_data = scaler.fit_transform(numeric_df)

scaled_df = pd.DataFrame(scaled_data, columns=numeric_df.columns)
print("\nStandard Scaled Data:\n", scaled_df.head(10))

Standard Scaled Data:
    Unnamed: 0     price      year   mileage        lot
0   -1.731358 -1.029223 -2.531775  3.715950 -40.927879
1   -1.729972 -1.309980 -1.660180  2.316050  -3.630985
2   -1.728585 -1.107647  0.373541 -0.212899  -0.174949
3   -1.727199  0.514487 -0.788586  0.198469   0.306451
4   -1.725813  0.737376  0.373541 -0.764650   0.352621
5   -1.724427 -1.078754  0.373541 -0.112871  -0.174738
6   -1.723041 -0.946672 -1.950712  1.620800   0.306535
7   -1.721654 -0.447236  0.083009 -0.482023   0.005421
8   -1.720268 -0.344047  0.373541 -0.719134   0.352626
9   -1.718882 -1.115902  0.083009  0.186273  -0.173021

In [6]:
#Minmax_Scaler________________

import pandas as pd
from sklearn.preprocessing import MinMaxScaler


df = pd.read_csv("USA_cars_datasets.csv")
# data = pd.DataFrame({
#     'Age': [25, 30, 35, 40, 45],
#     'Salary': [3000, 4000, 5000, 6000, 2000],
#     'Exp': [2, 3, 5, 7, 1]
# })

# print("Original Data:\n", df)

numeric_df = df.select_dtypes(include=['number'])

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(numeric_df)

scaled_df = pd.DataFrame(scaled_data, columns=numeric_df.columns)

print("\nScaled Data:\n", scaled_df.head(10))

Scaled Data:
    Unnamed: 0     price      year   mileage       lot
0    0.000000  0.074205  0.744681  0.269287  0.000000
1    0.000400  0.034146  0.808511  0.187194  0.898987
2    0.000801  0.063015  0.957447  0.038892  0.982290
3    0.001201  0.294464  0.872340  0.063016  0.993893
4    0.001601  0.326266  0.957447  0.006537  0.995006
5    0.002002  0.067138  0.957447  0.044758  0.982295
6    0.002402  0.085984  0.787234  0.146424  0.993895
7    0.002802  0.157244  0.936170  0.023110  0.986637
8    0.003203  0.171967  0.957447  0.009206  0.995006
9    0.003603  0.061837  0.936170  0.062301  0.982336

In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv("USA_cars_datasets.csv")



numeric_df = df.select_dtypes(include=['number'])

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(numeric_df)

scaled_df = pd.DataFrame(scaled_data, columns=numeric_df.columns)
print("\nScaled Data:\n", scaled_df.head(20))

Scaled Data:
     Unnamed: 0     price      year   mileage       lot
0     0.000000  0.074205  0.744681  0.269287  0.000000
1     0.000400  0.034146  0.808511  0.187194  0.898987
2     0.000801  0.063015  0.957447  0.038892  0.982290
3     0.001201  0.294464  0.872340  0.063016  0.993893
4     0.001601  0.326266  0.957447  0.006537  0.995006
5     0.002002  0.067138  0.957447  0.044758  0.982295
6     0.002402  0.085984  0.787234  0.146424  0.993895
7     0.002802  0.157244  0.936170  0.023110  0.986637
8     0.003203  0.171967  0.957447  0.009206  0.995006
9     0.003603  0.061837  0.936170  0.062301  0.982336
10    0.004003  0.122497  0.765957  0.105956  0.993895
11    0.004404  0.152179  0.936170  0.038951  0.986637
12    0.004804  0.375736  0.957447  0.022505  0.995007
13    0.005204  0.063958  0.936170  0.136207  0.982336
14    0.005604  0.243816  0.851064  0.098982  0.993900
15    0.006005  0.149706  0.936170  0.025293  0.986637
16    0.006405  0.061249  0.957447  0.045380  0.999557
17    0.006805  0.194346  0.957447  0.019650  0.995007
18    0.007206  0.061366  0.936170  0.035085  0.982336
19    0.007606  0.448763  0.851064  0.053422  0.993901

In [4]:

from sklearn.preprocessing import LabelEncoder
import pandas as pd 

# Load the dataset
df = pd.read_csv("USA_cars_datasets.csv")
print("Original Data:\n", df.head())

# Initialize the label encoder
le = LabelEncoder()

# Apply label encoding on 'brand' column
df['brand'] = le.fit_transform(df['brand'])

print("\nAfter Label Encoding:")
print(df.head())

Original Data:
    Unnamed: 0  price      brand    model  year   title_status   mileage  \
0           0   6300     toyota  cruiser  2008  clean vehicle  274117.0
1           1   2899       ford       se  2011  clean vehicle  190552.0
2           2   5350      dodge      mpv  2018  clean vehicle   39590.0
3           3  25000       ford     door  2014  clean vehicle   64146.0
4           4  27700  chevrolet     1500  2018  clean vehicle    6654.0

    color                  vin        lot       state country      condition
0   black    jtezu11f88k007763  159348797  new jersey     usa   10 days left
1  silver    2fmdk3gc4bbb02217  166951262   tennessee     usa    6 days left
2  silver    3c4pdcgg5jt346413  167655728     georgia     usa    2 days left
3    blue    1ftfw1et4efc23745  167753855    virginia     usa  22 hours left
4     red    3gcpcrec2jg473991  167763266     florida     usa  22 hours left

After Label Encoding:
   Unnamed: 0  price  brand    model  year   title_status   mileage   color  \
0           0   6300     27  cruiser  2008  clean vehicle  274117.0   black
1           1   2899      8       se  2011  clean vehicle  190552.0  silver
2           2   5350      7      mpv  2018  clean vehicle   39590.0  silver
3           3  25000      8     door  2014  clean vehicle   64146.0    blue
4           4  27700      5     1500  2018  clean vehicle    6654.0     red

                   vin        lot       state country      condition
0    jtezu11f88k007763  159348797  new jersey     usa   10 days left
1    2fmdk3gc4bbb02217  166951262   tennessee     usa    6 days left
2    3c4pdcgg5jt346413  167655728     georgia     usa    2 days left
3    1ftfw1et4efc23745  167753855    virginia     usa  22 hours left
4    3gcpcrec2jg473991  167763266     florida     usa  22 hours left